@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

/*Temel HTML Kısmı*/
:root {
    --main-color: #2d1346;
    --black-color: #000000;
    --border: 0.1rem solid rgba(255, 255, 255, 0.4);
}

* {
    margin: 0; 
    padding: 0;
    font-family: 'Poppins', sans-serif;;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    transition: 0.2s ease;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

body {
    background-color: var(--main-color);
}

section{
    padding: 3.5rem 7%;
}

.logo img{
    height: 10rem;
}


/*Header Kısmı*/
.header .logo img {
    height: 10rem;
}

.header {
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 7%;
    margin: 2rem 7%;
    border-radius: 30rem;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;
    top: 0;
    z-index:1000;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--black-color);
    border-bottom: 0.1rem solid transparent;
}

.header .navbar .active,
.header .navbar a:hover {
    border-color: var(--main-color);
    padding-bottom: 0.5rem;
}


/* Anasayfa Kısmı*/
.home {
    min-height: 100vh;
    background: url(../images/home.jpg);
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;  /*Burası olmazsa üst tarafta boşluk olacaktır.*/
    display: flex;
    align-items: center;
}

.home .content {
    max-width: 60rem;
}

.home .content h3 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
}

.home .content p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.8;
    padding: 1rem 0;
    color: rgb(255, 255, 255);
}


/*Hakkımızda Kısmı*/
.about h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
}

.about p{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);

}


/*Neler Yapıyoruz Kısmı*/
.choose h1 {
    font-size: 4rem;
    color: rgb(255, 255, 255);
    line-height: 2rem;
}

.choose h2{
    font-size: 2.5rem;
    color: rgb(254, 254, 254);
    line-height: 8rem;
}

.choose .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.choose .box-container .box {
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.choose .box-container .box-head h3{
    font-size: 2.2rem;
    color: var(--main-color);
}

.choose .box-container .box-head p{
    font-size: 1.5rem;
    color: var(--main-color);
}


/*Müşteri Memnuniyeti Kısmı*/
.customer h1{
    font-size: 4rem;
    color: rgb(255, 255, 255);
    line-height: 10rem;
}

.customer .box-container .box-head img{
    height: 17rem;
}

.customer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.customer .box-container .box {
    padding: 3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    background-color: rgb(255, 255, 255);
    min-height: 40rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.customer .box-container .box h3{
    font-size: 2.2rem;
    text-align: center;
    color: var(--main-color);
}

.customer .box-container .box p{
    font-size: 1.5rem;
    color: var(--main-color);
}


/*Form Kısmı*/
.form h1{
    font-size: 4rem;
    color: #ffffff;
  }

.form label {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    line-height: 4rem;
  }

.form .error-message {
    color: red;
    margin-top: 4px;
    font-size: 1.3rem;
    margin-bottom: 1.2rem;
  }

.form .form-control {
    width: 30%;
    height: 30px;
    text-align: center;
  }
 
.form .btn-primary{
    border: none;
    color: white;
    background-color: #6f62b8;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid #6f62b8;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
}

.form .btn-primary:hover{
    color:  #6f62b8;
    background-color: #fff;
    border: 2px solid #6f62b8;
}


/*Footer Kısmı*/
footer {
    background-color: var(--main-color);
    min-height: 15rem;
    text-align: center;
}

footer .sosyalbutonlar{
	margin-top: 20px;
	display: inline-block;
	position: relative;
	left: 10px;
}
	
footer .sosyalbutonlar a  {
  background:#a1a1a1;
	text-decoration: none;
	color: #FFF;
	width: 60px;
	height: 60px;
	display: inline-block;
	border-radius: 10px;
	margin-right: 20px;
	font-size: 30px;
	overflow: hidden;
	position: relative;
	line-height: 60px;
	text-align: center;
  }
    
footer .sosyalbutonlar a{  
    transition: transform 0.4s linear 0s, 
	border-top-left-radius 0.1s linear 0s, 
	border-top-right-radius 0.1s linear 0.1s, 
	border-bottom-right-radius 0.1s linear 0.2s, 
	border-bottom-left-radius 0.1s linear 0.3s; 	
}

footer .sosyalbutonlar .twitter:hover   {
    background-color: #00aced;
    transform: rotate(360deg);
    border-radius: 50%;	 
}
  
footer .sosyalbutonlar .instagram:hover   {
      background-color: #bc2a8d;
      transform: rotate(360deg);
      border-radius: 50%;	 
}

footer .sosyalbutonlar .linkedin:hover   {
      background-color: #00aced;
      transform: rotate(360deg);
      border-radius: 50%;	 
}

footer .credit{
    font-size: 1.5rem;
    color: #a1a1a1;
    font-weight: 300;
    padding-top: 1.5rem;
}